@model IEnumerable<P1_AquariumFishStore_TeamAkshay.Models.OrderDetailModel>

@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Order History</h2>





<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Order History</li>

    </ol>




    <div class="row">


        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Order History Details
           
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Order Detail Id</th>
                        <th>Order Id</th>
                        <th>Product Id</th>
                        <th>Quantity</th>
                        <th>Unit of Price</th>
                        <th>Total Price</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr. No</th>
                        <th>Order Detail Id</th>
                        <th>Order Id</th>
                        <th>Product Id</th>
                        <th>Quantity</th>
                        <th>Unit of Price</th>
                        <th>Total Price</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>
                        <td>@item.OrderDetailId</td>
                        <td>@item.OrderDetailId</td>
                        <td>@item.OrderId</td>
                        <td>@item.ProductId</td>
                        <td>@item.Quantity</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Total</td>
                        


                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



